debug*
checkpoints/
datasets/
models/debug*
models/networks/flownet2*/networks/*/*egg-info
models/networks/flownet2*/networks/*/build
models/networks/flownet2*/networks/*/__pycache__
models/networks/flownet2*/networks/*/dist
models/networks/flownet2*/*.pth.tar
results/
build/
.idea/
*/Thumbs.db
*/**/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*.DS_Store
*~
